<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- Servlets -->
  <servlet>
    <servlet-name>add_assignment</servlet-name>
    <servlet-class>com.wmd.server.service.AddAssignmentServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>add_problem_to_assignment</servlet-name>
    <servlet-class>com.wmd.server.service.AddProblemToAssignmentServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>copy_problem</servlet-name>
    <servlet-class>com.wmd.server.service.CopyProblemServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delete_assignment</servlet-name>
    <servlet-class>com.wmd.server.service.DeleteAssignmentServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delete_problem</servlet-name>
    <servlet-class>com.wmd.server.service.DeleteProblemServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delete_user</servlet-name>
    <servlet-class>com.wmd.server.service.DeleteUserServiceImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>get_all_user_assignment_status</servlet-name>
  	<servlet-class>com.wmd.server.service.GetAllUserAssignmentStatusServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>get_all_users</servlet-name>
    <servlet-class>com.wmd.server.service.GetAllUsersServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>get_assignment_problems</servlet-name>
    <servlet-class>com.wmd.server.service.GetAssignmentProblemsServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>get_assignments</servlet-name>
    <servlet-class>com.wmd.server.service.GetAssignmentsServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>get_periods</servlet-name>
    <servlet-class>com.wmd.server.service.GetPeriodsServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>get_problem_statement</servlet-name>
    <servlet-class>com.wmd.server.service.GetProblemStatementServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>get_problem_status</servlet-name>
    <servlet-class>com.wmd.server.service.GetProblemStatusServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>get_units</servlet-name>
    <servlet-class>com.wmd.server.service.GetUnitsServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>get_user_assignment_status_service</servlet-name>
    <servlet-class>com.wmd.server.service.GetUserAssignmentStatusServiceImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>get_users_by_period</servlet-name>
  	<servlet-class>com.wmd.server.service.GetUsersByPeriodServiceImpl</servlet-class>
  </servlet>
  <!--<servlet>
    <servlet-name>get_user</servlet-name>
    <servlet-class>com.wmd.server.service.GetUserServiceImpl</servlet-class>
  </servlet>-->
  <servlet>
    <servlet-name>save_problem</servlet-name>
    <servlet-class>com.wmd.server.service.SaveProblemServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>save_unit</servlet-name>
    <servlet-class>com.wmd.server.service.SaveUnitServiceImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>save_update_user</servlet-name>
  	<servlet-class>com.wmd.server.service.SaveUpdateUserServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>swap_problem_number</servlet-name>
    <servlet-class>com.wmd.server.service.SwapProblemNumbersServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>update_password</servlet-name>
    <servlet-class>com.wmd.server.service.UpdatePasswordServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>update_problem_status</servlet-name>
    <servlet-class>com.wmd.server.service.UpdateProblemStatusServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>user_signin</servlet-name>
    <servlet-class>com.wmd.server.service.UserSignInServiceImpl</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>add_assignment</servlet-name>
  	<url-pattern>/mathrocket/add_assignment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>add_problem_to_assignment</servlet-name>
  	<url-pattern>/mathrocket/add_problem_to_assignment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>copy_problem</servlet-name>
  	<url-pattern>/mathrocket/copy_problem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delete_assignment</servlet-name>
  	<url-pattern>/mathrocket/delete_assignment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delete_problem</servlet-name>
  	<url-pattern>/mathrocket/delete_problem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delete_user</servlet-name>
  	<url-pattern>/mathrocket/delete_user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>get_all_user_assignment_status</servlet-name>
  	<url-pattern>/mathrocket/get_all_user_assignment_status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>get_all_users</servlet-name>
  	<url-pattern>/mathrocket/get_all_users</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>get_assignment_problems</servlet-name>
  	<url-pattern>/mathrocket/get_assignment_problems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>get_assignments</servlet-name>
  	<url-pattern>/mathrocket/get_assignments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>get_periods</servlet-name>
  	<url-pattern>/mathrocket/get_periods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>get_problem_statement</servlet-name>
  	<url-pattern>/mathrocket/get_problem_statement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>get_problem_status</servlet-name>
  	<url-pattern>/mathrocket/get_problem_status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>get_units</servlet-name>
  	<url-pattern>/mathrocket/get_units</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>get_user_assignment_status_service</servlet-name>
  	<url-pattern>/mathrocket/get_user_assignment_status_service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>get_users_by_period</servlet-name>
  	<url-pattern>/mathrocket/get_users_by_period</url-pattern>
  </servlet-mapping>
  <!--<servlet-mapping>
    <servlet-name>get_user</servlet-name>
  	<url-pattern>/mathrocket/get_user</url-pattern>
  </servlet-mapping>-->
  <servlet-mapping>
    <servlet-name>save_problem</servlet-name>
  	<url-pattern>/mathrocket/save_problem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>save_unit</servlet-name>
  	<url-pattern>/mathrocket/save_unit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>save_update_user</servlet-name>
  	<url-pattern>/mathrocket/save_update_user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>swap_problem_number</servlet-name>
  	<url-pattern>/mathrocket/swap_problem_number</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>update_password</servlet-name>
  	<url-pattern>/mathrocket/update_password</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>update_problem_status</servlet-name>
  	<url-pattern>/mathrocket/update_problem_status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>user_signin</servlet-name>
  	<url-pattern>/mathrocket/user_signin</url-pattern>
  </servlet-mapping>
    
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MathRocket.html</welcome-file>
  </welcome-file-list>

</web-app>